/* Layout*/

body#fixedBg{
        background-image: url("UlfKLiten.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
} 

body#noBackground{
        background-image: #fff;
        background: #fff;
}

body#notFixedBg{
        /*background-image: #fff;
        background: #fff;*/
        background-image: url("UlfKLiten.jpg");
}

#menu {
  /*  list-style-type: none;*/
    float:right
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align:center;
    display:block;
}
#menu li {
    float: right; /* Lägger listan horizintalt*/
}
#menu li a {
    display: block; /* Gör floating blocks*/
    color: #fff; /*vit?*/
    font-weight: bold;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-size: 22;
}
#menu li a:hover {
    background-color: #fddf00;
}

#menu.active {
    background-color: #4CAF50;
}

.header{
/* To get full image in header background: */
  /*min-width:100%;
  min-height: 300px;
  background-size: auto 100%;*/

  /*text-align:left; - få placeringar til vänster
  display:block;*/
}
.headerMenu{
  padding: 0px;
  background: #fddf00; /* black*/ /*#33abe2;*/
/*  position: fixed;*/
/*  text-align:center;
  display:block;*/
}

.header img {
  float: left;
  padding-top:15px;
  margin: 5px;
  /*width:auto;
  max-width:100%;
  height:auto;*/
  
}

.contentWrapper{
    width: 960px;
    margin: 0 auto;
    border: 20px solid #ffff;
    background: #fddf00;
   /* border-top: 22px solid #33abe2;*/
}

.centerImage{
  text-align:center;
  display:block;
}

.container{
	overflow: hidden;
	background: #fff;
	padding: 45px 70px 45px 70px;
}
.content{
  	float: center;
  	/*width: 80%;*/
    	min-height: 500px;
}

.sidebar{
    float: right;
    width: 15%; /*För att få avstånd till det andra*/
    min-height: 500px;
}

.contentKontaktBild{
    float: left;
    width: 20%;
    padding: 8px;
    min-height: 200px;
}

.contentKontaktText{
    float: right;
    padding: 8px;
    width: 68%;
    min-height: 200px;
}

.contentIndex{
    float: left;
    width: 100%;
    min-height: 500px;
}

.containerBottom{
  overflow: hidden;
	background: #eeeee;
	padding: 30px;
  border: 23px solid #ff0000;
}

#footer{
  	width: 100%;
  	background: #fddf00;
  	padding: 30px 0px;
}

#footer span{
  	margin: 20px;
  	padding: 8px 12px;
  	background: #33abe2;
  	color: #fff;
  	font-size: 20px;
  	font-family: helvetica;
    text-align:center;
}

#footer a {
  /* När länken är oberörd */
    color: #fff; /* Vit */
    text-decoration: none; /* Inget understreck */
}


/* Övriga commandon */
.inline{
    margin-top: 30px;
  	display: inline;
}

.block{
  	display: block;
}

.inline-block{
  	display: inline-block;
}


/*Topography*/

h1 {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}

h3 {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16.5px;
}
p {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

a {
  /* När länken är oberörd */
    color: #000000; /* Grön */
    text-decoration: none; /* Inget understreck */
    font-family: Verdana,Geneva,sans-serif
    font-size: 14px;
    font-weight: bold;
}

a:hover {
  /* När länken hålls över */
    color: #eeeee; /* Ljusare grön */
  	text-decoration: underline; /* Understreck */
}

a:active {
  /* När länken trycks på */
    color: #eeeee; /* Ännu ljusare grön */
}


strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
